.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-background {
  width: 100%; /* O ajusta al tamaño necesario */
  height: 100vh; /* O ajusta según el contenedor */
  animation: loadingBackground 1.5s infinite; /* Ciclo infinito */
}

@keyframes loadingBackground {
  0% {
    background-color: #682078f1; /* Color inicial */
  }
  50% {
    background-color: #093ba0; /* Color intermedio */
  }
  100% {
    background-color: #682078f1; /* Regresa al color inicial */
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
