.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-background {
  width: 100%; /* O ajusta al tamaño necesario */
  height: 100vh; 
  animation: loadingBackground 2s infinite; 
}

@keyframes loadingBackground {
  0% {
    background-color: #242b4b;
  }
  50% {
    background-color: #242b4bf0;
  }
  150% {
    background-color: #242b4b; 
  }
}