.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Tamaño normal */
  }
  50% {
    transform: scale(0.95); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Regresa al tamaño normal */
  }
}

.zoom-image {
  width: 200px;
  min-height: 200px;
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Centra en el contenedor si es necesario */
  margin: 0 auto; /* Opcional: centra en el contenedor */
  animation: zoomInOut 2s infinite; /* Efecto infinito */
  transition: transform 1s ease; /* Suaviza los cambios */
}

.loading-background {
  width: 100%; /* O ajusta al tamaño necesario */
  height: 100vh; 
  animation: loadingBackground 2s infinite; 
}

@keyframes loadingBackground {
  0% {
    background-color: #242b4b;
  }
  50% {
    background-color: #242b4bf0;
  }
  150% {
    background-color: #242b4b; 
  }
}


@media screen and (max-width: 768px) {
  .App-logo {
    height: 60vmin !important;
    pointer-events: none;
  }
}